        -------------------------- Sets in Python ---------------------------------
In Python, a set is an unordered and mutable collection of unique elements. This means:

**Unordered:** The items in a set do not have a defined order. You cannot access elements by index like you do with lists or tuples.

**Mutable:** You can add and remove elements from a set after it's created.

**Unique:** Sets automatically remove duplicate elements. If you try to add an element that is already in the set, it will simply be ignored.

    --------------------- Creating Sets:------------------------

In [12]:
# creating empyt set
empty_set = set('Haroon')
print(empty_set)
# Note: set all required iteratble object . string is iteratable 
# set(1) incorrect

{'a', 'n', 'H', 'r', 'o'}

In [15]:
# create set literal , 
my_set_with_duplicates = {1,2,3,4,4,5,'Haroon', True, 3.12}
print(my_set_with_duplicates)

{1, 2, 3, 4, 5, 3.12, 'Haroon'}

In [16]:
# Create list and then remove duplicates from it using set
my_list_with_duplicates = [1,12,12,12,13,13,14,15,14,'Apple', 'Apple']
# assign to set 
my_set_with_unique = set(my_list_with_duplicates)
print(my_set_with_unique)

{1, 12, 13, 14, 15, 'Apple'}

    ----------------------- Adding and Removing Elements:------------------

In [18]:
# adding element into set

add_to_set = {1,2,'Apple', True}
add_to_set.add('Orange')
print(add_to_set)

{'Orange', 1, 2, 'Apple'}

In [20]:
# adding duplicate values 
add_duplicate_to_set = {1,1,2,2,3,3,4,4,5.5, 5.5 , 6.6, 6.6}
print("unique values",add_duplicate_to_set)

unique values {1, 2, 3, 4, 5.5, 6.6}

In [21]:
# Removing element from set

my_set_remove_element = {1,2,3,4,'Haroon'}
my_set_remove_element.remove('Haroon')
print(my_set_remove_element)

{1, 2, 3, 4}

In [23]:
# Removing non existing element
#KeyError will be raise 
my_set_remove_non_exist_element = {1,2,3,4}
my_set_remove_non_exist_element.remove(5)
print(my_set_remove_non_exist_element)

KeyError: 5

In [24]:
# Discading element which is not existing
# Will ignore it if not exist simply

my_set_discard = {1,2,3,4}
my_set_discard.discard(5)
print(my_set_discard)

{1, 2, 3, 4}

In [33]:
# removing arbitrary  element 
popped_element = {'Apple', 'Orange', 'Banana'}
popped_element.pop()
print(popped_element)

{'Apple', 'Banana'}

In [60]:
# Removing all elements

clear_set = {1,2,3,'abc'}
clear_set.clear()
print("Empty set:",clear_set)

Empty set: set()

        -----------------Set Operations:----------------------

In [64]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

#union (all elements in either set
union_set = set1 | set2 
print("union using | : ",union_set)
union_set = set1.union(set2)
print("union using union method: ",union_set)

union using | :  {1, 2, 3, 4, 5, 6, 7}
union using union method:  {1, 2, 3, 4, 5, 6, 7}

In [66]:
# Intersection (element in both sets )
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
Intersection_set = set1 & set2
print("Intersection using &: ", Intersection_set)
Intersection_set = set2.intersection(set1)
print("Intersection using intersection method, ", Intersection_set)

Intersection using &:  {3, 4, 5}
Intersection using intersection method,  {3, 4, 5}

In [69]:
# Difference (element in set1 but not in set2 )
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

Difference_set = set1 - set2
print("Difference using difference method :", Difference_set)

Difference using difference method : {1, 2}

In [71]:
# Symmetric Difference (element in either set but not in both set)
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
symmetric_set = set1 ^ set2 
print("symmetric difference using ^ : ", symmetric_set)
symmetric_set = set1.symmetric_difference(set2)
print("symmetric difference using symmetric_difference method :", symmetric_set)

symmetric difference using ^ :  {1, 2, 6, 7}
symmetric difference using symmetric_difference method : {1, 2, 6, 7}

In [77]:
#subset 
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
set3 = {1,2}

print("set3 is subset of set1 :", set3.issubset(set1))
print("set3 is NOT subset of set2 :", set3.issubset(set2))

# superset
print("set1 is supper set of set3: ", set1.issuperset(set3))
print("set2 is NOT supper set of set3: ", set2.issuperset(set3))

set3 is subset of set1 : True
set3 is NOT subset of set2 : False
set1 is supper set of set3:  True
set2 is NOT supper set of set3:  False